* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFFFFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEA726;
    color: gray;
}

/* .brand-title {
    font-size: 1.5rem;
    margin: .5rem;
} */

.brand-title img {
    height: auto;
    width: 4rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #030303;
    ;
    padding: 1rem;
    display: block;
}

.navbar-link li:hover {
    background-color: #555;
}

h1 {
    font-size: 562.5%;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: sans-serif, 'Montserrat';
}

h3 {
    font-family: sans-serif, 'Montserrat';
}

.register {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

hr {
    border: none;
    border-top: 3px double #FEA726;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.aboutme {
    background-color: #FAFAFA;
}

.profile-image {
    height: auto;
    width: 300px;
}

/* about ends here */

/* contact starts here */
.contactme {
    width: 100%;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.container:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("")no-repeat center;
    background-size: cover;
    z-index: -1;
}

/* .contact-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
} */

/* .right {
    padding: 25px 40px;
} */

h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #FEA726;
}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

.area {
    min-height: 150px;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #FEA726;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}

.btn:hover {
    background-color: #ffc107;
}

/* contact ends here */

/* login starts here */
.loginpage {
    margin: 0;
    padding: 0;
    background-position: center;
}

.loginbox {
    width: 320px;
    height: 420px;
    background-color: #FFFFFF;
    color: #fff;
    top: 10%;
    left: 43%;
    position: absolute;
    transform: translate(-50% -50%);
    box-sizing: border-box;
    padding: 70px;
}

.png {
    width: 100%;
    height: auto;
    border-radius: 50%;
    /* position: absolute; */
    top: -50px;
    left: calc(50% - 50px);
}

label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: black;
}

h1 {
    color: black;
    margin: 0;
    padding: 0 0 20px;
    font-size: 22px;
    text-align: center;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 20px;
    /* color: #fff; */
    font-size: 1rem;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #FEA726;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background-color: #ffc107;
    color: #fff;
}

.loginbox a {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: darkgray;
}

.loginbox a:hover {
    cursor: pointer;
    color: #ffc107;
}
/* login ends here */

/* Register starts here */

.reg-btn {
    width: 20%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #FEA726;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}

.reg-btn:hover {
    background-color: #ffc107;
}
.reg-field {
    width: 20%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.reg-field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.reg-field:focus {
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}
